body{
  background-color: #7a6c5d;
}
.header{
  text-align: center;
  background-color: #2a3d45;
  height: 255px;
  margin-top: -21px;
  line-height: 2;
  color: antiquewhite;
}

.header img{
  height: 100px;
}

.odometerContainer{
  text-align: center;
  /* background-color: #7a6c5d; */

}

.odometerContainer p{
  font-size: 90px;
  font-weight: 900;
}

.Footer{
  text-align: center;
}